github "LoopKit/LoopKit" "omnipod-testing"
github "cukrzycawpetli/CGMBLEKit" "omnipod-testing"
github "i-schuetz/SwiftCharts" == 0.6.5
github "cukrzycawpetli/dexcom-share-client-swift" "omnipod-testing-nsshareserver"
github "cukrzycawpetli/G4ShareSpy" "omnipod-testing"
github "ps2/rileylink_ios" "omnipod-testing"
github "LoopKit/Amplitude-iOS" "decreepify"
